/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }



/*For display on the page, use Bootstrap to style the form and table 
elements. Use Bootstrap's grid system and styling classes to get the following effects.*/

/*at desktop size display the table on the left and form on the right with some space around the sides*/
/*the page should have the same display on a tablet in landscape mode, but with no space at the sides*/
/*on mobile/vertical tablet the table should display above the form*/
/*the table entries should be alternately striped*/

/*On top of these styling requirements, feel free to apply any of your own */
/*personal styling via your own CSS or Bootstraps myriad styling effects to */
/*enhance the display style and usability of your page.*/